<!DOCTYPE html>
<html>

<head>
    <title>OnlineLib</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/index.js"></script>

</head>

<body>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="../index.html" class="brand-logo">OnlineLib</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="row card-panel registerForm">
                <h3>Register Form</h3>
                <br>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text"/>
                        <label for="first_name">First Name</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="last_name" type="text"/>
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="email" type="email" name='email' />
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="enterPwd" type="password" />
                        <label for="enterPwd">Enter Password</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="confirmPwd" type="password"/>
                        <label for="confirmPwd">Confirm Password</label>
                    </div>
                </div>
                <div class="row enter_home">
                    <div class="input-field col s6">
                        <button class="btn btn-large btn-register waves-effect waves-light regis" type="submit"
                            name="action" onclick="register()">Register
                        </button>
                    </div>
                </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">OnlineLib</h5>
                    <p class="grey-text text-lighten-4">~One Stop Destination for all your book needs</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Quick Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="login.html">Login to Explore</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>